<% content_for :page_body do %>
  <section class="position-relative py-4 py-xl-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 col-xl-6 fs-4 d-xxl-flex mx-auto justify-content-xxl-center">
          <%= render partial: 'layouts/brand' %>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="card mb-5">
            <div class="card-body d-flex flex-column align-items-center">
              <%= yield %>
              <%= render partial: 'layouts/application/alert' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<%= render template: "layouts/application" %>
<% if @redirect_out %>
  <%= javascript_tag do %>
    setInterval(function() {
      var div = document.querySelector("#redirect-time");
      var count = div.textContent * 1 - 1;
      div.textContent = count.toString();
      if (count <= 0) {
      window.location.replace("<%= @redirect_url %>");
      }
    }, 1000);
  <% end %>
<% end %>
